#text {
  font-size: 1.5rem;
}

#author {
  font-style: italic;
}

#new-quote {
  font-size: 1.5rem;
}

.App {
  height: 100vh;
  background-color: chartreuse;
  display: flex;
  justify-self: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  box-sizing: border-box;
  padding: 15px;
  background-color: #282c34;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

